:root {
	/* Font */
	--ff-default: arial, sans-serif;

	/* Font size */
	--fz-sm: 12px;
	--fz-md: 15px;
	--fz-lg: 18px;
	--fz-h1: 50px;
	--fz-h2: 30px;
	--fz-h3: 20px;

	/* Line height */
	--lh-xs: 1;
	--lh-sm: 1.3;
	--lh-md: 1.5;

	/* Colors */

	/* gray */
	--h-gray: 200;
	--s-gray: 10%;
	--l-gray-1: 10%;
	--l-gray-2: 20%;
	--l-gray-3: 30%;
	--l-gray-4: 40%;
	--l-gray-5: 50%;
	--l-gray-6: 60%;
	--l-gray-7: 70%;
	--l-gray-8: 80%;
	--l-gray-9: 90%;
	--c-gray-1: hsl(var(--h-gray), var(--s-gray), var(--l-gray-1));
	--c-gray-1-7: hsl(var(--h-gray), var(--s-gray), var(--l-gray-1), 70%);
	--c-gray-2: hsl(var(--h-gray), var(--s-gray), var(--l-gray-2));
	--c-gray-3: hsl(var(--h-gray), var(--s-gray), var(--l-gray-3));
	--c-gray-4: hsl(var(--h-gray), var(--s-gray), var(--l-gray-4));
	--c-gray-5: hsl(var(--h-gray), var(--s-gray), var(--l-gray-5));
	--c-gray-6: hsl(var(--h-gray), var(--s-gray), var(--l-gray-6));
	--c-gray-7: hsl(var(--h-gray), var(--s-gray), var(--l-gray-7));
	--c-gray-8: hsl(var(--h-gray), var(--s-gray), var(--l-gray-8));
	--c-gray-9: hsl(var(--h-gray), var(--s-gray), var(--l-gray-9));

	/* info */
	--h-info: 200;
	--s-info: 50%;
	--l-info-dark: 30%;
	--l-info: 60%;
	--l-info-light: 90%;
	--c-info-dark: hsl(var(--h-info), var(--s-info), var(--l-info-dark));
	--c-info: hsl(var(--h-info), var(--s-info), var(--l-info));
	--c-info-light: hsl(
		var(--h-info),
		var(--s-info),
		var(--l-info-light)
	);

	/* warning */
	--h-warning: 50;
	--s-warning: 50%;
	--l-warning-dark: 30%;
	--l-warning: 60%;
	--l-warning-light: 90%;
	--c-warning-dark: hsl(
		var(--h-warning),
		var(--s-warning),
		var(--l-warning-dark)
	);
	--c-warning: hsl(
		var(--h-warning),
		var(--s-warning),
		var(--l-warning)
	);
	--c-warning-light: hsl(
		var(--h-warning),
		var(--s-warning),
		var(--l-warning-light)
	);

	/* danger */
	--h-danger: 0;
	--s-danger: 50%;
	--l-danger-dark: 30%;
	--l-danger: 60%;
	--l-danger-light: 90%;
	--c-danger-dark: hsl(
		var(--h-danger),
		var(--s-danger),
		var(--l-danger-dark)
	);
	--c-danger: hsl(var(--h-danger), var(--s-danger), var(--l-danger));
	--c-danger-light: hsl(
		var(--h-danger),
		var(--s-danger),
		var(--l-danger-light)
	);

	/* Border radius */
	--bdrs-sm: 2px;
	--bdrs-md: 5px;

	/* Transition */
	--t: 0.2s;

	/* Shadows */
	--shadow-default: 6px 6px 35px rgba(112, 123, 177, 0.2);

	/* Spaces */
	--space-sm: 5px;
	--space-md: 10px;
	--space-lg: 20px;
	--max-page-width: 500px;

	/* z-index */
	--z-default: 100;
	--z-backdrop: 600;
	--z-dialog: 700;
}
